/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, input, select, textarea, a, label {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: large;
  color: darkcyan;
}
body {
  background-color: darkcyan;
}

/* HEADER */
header {
  background-color: rgb(255, 255, 255);
  height: 100px;
}
header #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
}
header #navbar .nav-brand img {
  padding-top: 12%;
  align-items: left;
  width: 200px;
  height: 100px;
}
header #navbar .nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
header #navbar .nav-list .nav-item a {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
}
header #navbar .nav-list .nav-item a:hover {
  color: #777;
  transition: 0.3s;
}
header #navbar .hamburger-menu {
  display: none;
}

/* MAIN */
main {
  margin-top: 0rem;
}
main h1{
  color: white;
}

main #banner {
  position: relative;
  background-color: darkcyan;
  background-size: cover;
  background-position: center;
  color: darkcyan;
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
main #banner p{
  color: darkcyan;
}
main #banner .banner-content {
  position: relative;
  z-index: 1;
}
main #banner .banner-content .banner-content-title {
  font-size: 42px;
  font-weight: 500px;
  line-height: 60px;
  margin-bottom: 40px;
}
main #banner .banner-content .banner-content-subtitle {
  text-align: justify;
  font-size: 23px;
  font-weight: 400;
  line-height: 24px;
  max-width: 500px;
  margin-bottom: 38px;
  color: white;
  padding: 8px 24px;
}
main #banner .banner-content .banner-content-btn {
  background-color: darkcyan;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  padding: 8px 24px;
  border: none;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

main #banner .login-banner {
  background-color: #f7f7f7ab;
  padding: 20px;
  margin: 50px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  max-width: 30%;
}
main #banner .login-banner h2 {
  font-size: 24px;
  margin-bottom: 1rem;
  color: darkcyan;
}
main #banner .login-banner form {
  display: flex;
  flex-direction: column;
}
main #banner .login-banner form label {
  margin-bottom: 0.5rem;
}
main #banner .login-banner form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
main #banner .login-banner form button {
  background-color: darkcyan;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  padding: 8px 24px;
  border: none;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#create-account-link{
  text-decoration: none;
}

/* Adiciona estilo para as colunas do formulário */


/* Modal Styles */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.modal-content {
  background-color: #f7f7f7ab;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  min-width: 1200px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); /* Sombra */
  color: #333333; /* Cor do texto */
  font-family: Arial, sans-serif; /* Fonte mais legível */
  line-height: 1.6; /* Espaçamento entre linhas */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form styles inside the modal */
.modal-content form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
}


.column {
  flex: 1;
  padding: 10px;
}

.modal-content form label,
.modal-content form input,
.modal-content form button {
  margin-bottom: 5px;
}
.input-modal{
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.btn-model{
  background-color: darkcyan;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  padding: 8px 24px;
  border: none;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#submitForm {
  background-color: darkcyan; /* Verde mais vibrante */
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#submitForm:hover {
  background-color: rgb(0, 95, 139); /* Cor de hover mais escura */
}


/* MAIN PAGE SEARCH-CONTAINER */
.search-container {
  display: flex;
  padding: 0 1rem;
  flex-wrap: wrap; /* Adiciona quebra de linha quando necessário */
  justify-content: center; /* Centraliza os elementos horizontalmente */
  align-items: center; /* Centraliza os elementos verticalmente */
  margin-top: 20px;
}

.lbl-search {
  color: white;
  margin-right: 10px; /* Adiciona espaço entre os labels */
}

.custom-select,
input[type="text"],
input[type="date"] {
  flex: 1; /* Distribui o espaço igualmente entre os elementos */
  margin-right: 10px; /* Adiciona um espaçamento entre os elementos */
  min-width: 158px;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 16px;
}

.date-input {
  width: 150px; /* Defina o tamanho desejado para o input de data */
}

button[type="submit"] {
  padding: 10px 15px;
  border: none;
  background-color: white;
  color: darkcyan;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: rgb(6, 80, 80);
  color: white;
}

.fa-magnifying-glass {
  font-size: 20px;
}

/* MAIN CARDS */

.main-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  width: calc(25% - 20px); /* 4 cards per row */
  margin: 10px;
  padding: 20px;
  box-sizing: content-box;
  text-align: center;
}

.card h3 {
  margin-top: 0;
  color: darkcyan;
  text-align: center;
}

.card p {
  text-align: center;
  color: darkcyan;
}

.card button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* BOTÃO MODAL MAIN */
#openModalButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* FOOTER */
footer {
  background-color: #fff;
  padding: 40px 20px;
  color: #333;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}


.footer-section {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: left; 
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: darkcyan;
  text-align: left; /* Alinha o título*/
}


.footer-section h4 {
  margin-bottom: 15px;
  margin-left: 18px;
  font-size: 18px;
  color: darkcyan;
  text-align: left; /* Alinha o título*/
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: darkcyan;
}

.social-media {
  display: flex;
  align-items: left; /* Centraliza os ícones verticalmente */
  justify-content: left; /* Centraliza os ícones horizontalmente */
  gap: 10px; /* Aumenta o espaço entre os ícones */
  margin-top: 20px; /* Adiciona margem superior para afastar os ícones do conteúdo superior */
}

.social-media img {
  width: 40px;
  height: 40px;
}

.social-media a {
  font-size: 20px; /* Aumenta o tamanho dos ícones */
  color: #333;
  transition: color 0.3s;
}

.social-media a:hover {
  color: darkcyan;
}

#footer-reserved {
  text-align: center;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  font-size: 14px;
}


/* MODALS*/
.modal {
  display: none; /* Ocultar por padrão */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Fundo semi-transparente */
}

.modal-content {
  background-color: #ffffff;
  margin: 5% auto; /* Margem superior reduzida */
  padding: 20px;
  border: 1px solid #888;
  width: 90%; /* Aumentar a largura para 90% */
  max-width: 1200px; /* Largura máxima */
  border-radius: 10px; /* Cantos arredondados */
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5); /* Sombra */
  color: #333333; /* Cor do texto */
  font-family: Arial, sans-serif; /* Fonte mais legível */
  line-height: 1.6; /* Espaçamento entre linhas */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content label {
  display: block;
  margin-top: 10px;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#submitForm {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-terms-body,
.modal-privacy-body {
  max-height: 70vh; /* Altura máxima */
  overflow-y: auto; /* Rolagem automática */
}

.terms-content,
.privacy-policy {
  padding: 10px;
}

h1, h2, h3 {
  color: #444; /* Cor dos títulos */
}

ul {
  margin-left: 20px;
  padding-left: 0;
}

p, ul {
  margin-bottom: 15px;
}

/* Profile */
#banner-profile {
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
  min-width: 320px;
}
.profile-container {
  display:flex;
  box-sizing: border-box;
  flex-direction: row;
  gap: 1px;
  margin: 0 auto;
  background-color: #ffffffb6;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem 2rem;
  max-width: 1200px;
  align-items: center;
}
.profile-container h1{
  color:#000
}
.profile-header {
  display: flex;
  flex:1;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.profile-photo {
  width: 100px;
  height: 100px;
  --profile-background:rgb(0, 201, 201);
  background-color: var(--profile-background); /* Você pode usar uma função JS para cor aleatória */
  border-radius: 50%;
  border-style:solid;
  border-color: darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self:center;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  flex-shrink: 0;
}
.profile-main{
  height: 70px;
  width: 70px;
  font-size: 25.2px;
  margin-bottom: -0.6em;
  cursor: pointer;
  &&:hover{
    cursor: pointer;
    border-color: #005f5f;
  }
}
.profile-info {
  flex-grow: 1;
  min-width: 200px;
  margin-bottom: 20px;
}
.profile-info h1 {
  margin: 0;
  font-size: 24px;
  color:#005f5f;
}
.profile-info p {
  margin: 5px 0;
  color: darkcyan;
  text-align: center;
}
.profile-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-details p {
  margin: 0;
  color: #333;
}
.profile-details p span {
  font-weight:800;
  color:darkcyan;
}

.section-container {
  position: relative;
  margin: 12px;
  padding: 10px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid darkcyan;
  border-radius: 8px;
}
.section-title {
  position: absolute;
  top: -35px;
  padding: 0 10px;
  font-size: 24px;
  font-weight: 800;
  color: darkcyan;
}
.section-content {
  margin: auto;
  padding: 2px;
}
/* MODAL EDIT */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

button[type="submit-profile"] {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}